<div class="app">
  <div class="top_bar">
    <p><span>{{roundCounter === 5 ? 'Endgame:' : 'Round:'}} {{roundCounter}}</span> <span>BTC: </span>{{btcAccount}}</p>
    <p class="scores"><span>User:</span> {{userOverallScore.toFixed(1)}} <b>|</b> <span>AI:</span> {{aiOverallScore.toFixed(1)}} </p>
  </div>
  <main>
    <div *ngIf="gameStatus; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <p class="round_result">
        <span>Round result:</span><br />
        <b>{{roundResult.isWin}}</b>
      </p>
      <button (click)="countGame()">Let's play</button>
    </ng-template>
    <ng-template #elseBlock>
      <p class="round_result">
        <span>Round result:</span><br />
        <b>{{gameResult}}</b>
      </p>
      <button (click)="countGame()">Restart</button>
    </ng-template>
  </main>
</div>